/* Slide up từ dưới */
.modal-slide-up .ant-modal {
  margin: 0 auto;
  top: auto;
  bottom: 0;
  border-radius: 12px 12px 0 0;
  max-width: 450px;
  animation: slideUp 0.3s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
